/* CSS Document */

/** User Profile Tabs **/
#rktgk-tabs { 
	padding: 0px; 
	background: none; 
	border-width: 0px; 
} 
#rktgk-tabs .ui-tabs-nav { 
	padding-left: 0px; 
	background: transparent; 
	border-width: 0px 0px 1px 0px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
	border-radius: 0px; 
} 
#rktgk-tabs .ui-tabs-panel { 
	background: #fff; 
	border-width: 0px 1px 1px 1px; 
}
#rktgk-tabs .ui-state-active {
	border: 1px solid #006799; 
	background: #0085ba;
}
#rktgk-tabs .ui-state-active a {
	color: #fff;
}